.top-chat {
    height: 90%;
    overflow-y: overlay;
}

.message-item {
    margin-bottom: 1.75rem;
    margin-top: 0.75rem;
}

.message-plain {
    border: 2px dashed  darkcyan;
    border-radius: 5px;
    background:  lightblue;
    display: inline;
    padding: 0.5rem;
}

.bottom-chat {
    margin-top: 1.5rem;
    padding: 5px;
    border: 3px solid green;
    border-radius: 5px;
}
